services:
  web:
    build: .
    command: rails s -b 0.0.0.0
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
    depends_on:
      - redis
      - db
    environment:
      - REDIS_URL=redis://redis:6379/1

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ikku
      POSTGRES_PASSWORD: ikku193
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
