<p><%= @user.name %>さん</p>

<p>いつも Vocano! をご利用いただきありがとうございます。</p>
<p>パスワード再設定のご依頼を受け付けました。</p>
<p>以下のURLから新しいパスワードを設定してください。</p>
<p><a href="<%= @url %>">ここをクリック！</a></p>

<p>これからもVocano!をよろしくお願いいたします。</p>
