<% content_for :title, "お気に入りキット | Vocano!" %>

<h1 class="community-title">お気に入りキット</h1>

<div class="search-container" style="text-align: center; margin-bottom: 20px;">
  <%= render 'word_kits/search_form', url: favorites_path %>
</div>

<% if @favorite_word_kits.any? %>
  <div class="community-container">
    <div class="community-grid">

      <% @favorite_word_kits.each do |kit| %>
        <%= render "word_kits/word_kit", word_kit: kit %>
      <% end %>

    </div>
  </div>
<% else %>
  <p class="empty-message">まだお気に入りはありません</p>
<% end %>