<% content_for :title, "結果発表 | VocaBoom!" %>

<h2>🏆 ランキング TOP3</h2>

<ol>
  <% medals = ["🥇", "🥈", "🥉"] %>
  <% @top_players.each_with_index do |p, i| %>
    <li>
      <%= medals[i] %>
      <%= p.nickname.presence || p.user&.name || p.guest&.name || "ゲスト" %>
      ：<%= p.score %>点
    </li>
  <% end %>
</ol>
<%= link_to "トップに戻る", finish_game_room_path(@game_room), 
    data: { turbo_method: :delete } %>