<% content_for :title, "ゲームキット新規作成 | VocaBoom!" %>

<h1>ゲームキット新規作成</h1>

<p>ゲームキット名</p>

  <%= form_with model: @word_kit, data: { turbo: false } do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name%>
    </div>
    <%= f.submit "ゲームキットを作る" %>
  <% end %>