<div data-controller="game"
     data-game-questions='<%= @questions.map { |q| {english_word: q.english_word, japanese_translation: q.japanese_translation} }.to_json.html_safe %>'>
  
  <p data-game-target="question"></p>

  <div>
    <label for="answer-input">解答</label>
    <input type="text" 
           id="answer-input"
           data-game-target="answer"
           data-action="keydown.enter->game#submitAnswer">
    <button type="button" 
            data-action="click->game#submitAnswer">
      解答
    </button>
  </div>
  
  <p data-game-target="feedback"></p>
</div>