<header>
  <%= link_to root_path, class: "site-logo" do %>
    <%= image_tag "vocano_site_logo.png", alt: "Vocano!" %>
  <% end %>

  <div class='menu_group'>
      <%= link_to '新規登録', signup_path %>
      <%= link_to 'ログイン', login_path %>
  </div>
</header>