<h1>トップページ</h1>
  <ul>
    <li>
      <%= link_to 'ゲームを開く', word_kits_path %>
    </li>
    <li>
      <%= link_to 'ゲームキットを作る', new_word_kit_path %>
    </li>
    <li>
      <%= link_to 'ゲームに参加する', '#' %>
    </li>
  </ul>

