<% content_for :title, "トップページ | Vocano!" %>

<%= image_tag "vocano_title_logo.png", alt: "Vocano!", class: "title-logo"%>
  <ul class="main-buttons">
    <li>
      <%= link_to 'ゲームを開く', word_kits_path, class: "main-button" %>
    </li>
    <li>
      <%= link_to 'ゲームキットを作る', new_word_kit_path, class: "main-button" %>
    </li>
    <li>
      <%= link_to 'ゲームに参加する', new_participant_path, class: "main-button" %>
    </li>
  </ul>