<%= render "shared/header" %>

<h1>トップページ</h1>
  <ul>
    <li>
      <%= link_to 'ゲームを開く', '#' %>
    </li>
    <li>
      <%= link_to 'ゲームキットを作る', '#' %>
    </li>
    <li>
      <%= link_to 'ゲームに参加する', '#' %>
    </li>
  </ul>

