<% content_for :title,  "自習モード| Vocano!" %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="play-container"
  data-controller="self-study"
  data-self-study-time-limit-value="<%= @time_limit %>"
  data-self-study-questions-value="<%= @questions.to_json %>"
  data-self-study-time-limit-value="60"
  data-self-study-answer-url-value="<%= answer_word_kit_self_study_path(@word_kit) %>">

  <div class="game-header">
    <div class="timer-box">
      TIME: <span data-self-study-target="timer">60</span>
    </div>
    <div class="score-box">
      SCORE: <span data-self-study-target="score">0</span>
    </div>
  </div>

  <div class="question-frame">
    <div class="question-text" data-self-study-target="question">
    </div>
  </div>

  <div class="word-input-container" data-self-study-target="inputContainer">
  </div>

  <div class="feedback-area">
    <p data-self-study-target="feedback"></p>
  </div>

  <%= button_to "学習を終了する", word_kit_self_study_path(@word_kit), 
      method: :patch, 
      id: "finish-button", 
      class: "btn-finish" %>
</div>