/*新規キット作成画面*/

@media (max-width: 375px) {
  .toggle-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
  }
}