header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  align-items: center;
}

.menu_group {
  list-style: none;
  display: flex;
  padding: 10px;
  margin-left: auto;
}
